.CssButton__button {
  border-radius: 8px;
  font-size: 18px;
  padding: 8px 16px;
  outline: none;
  border: 0;
  background-color: #00CC00;
  color: #fff;
  cursor: pointer;
}

.CssButton__button:hover {
  background-color: #39E639;
}

.CssButton__button:active {
  background-color: #269926;
}

.CssButton__text {
  font-size: 18px;
}

.CssButton__text_opened {
  display: block;
}

.CssButton__text_closed {
  display: none;
}
