.root :global(.some-global-class) {
  color: pink;
}

.button {
  border-radius: 8px;
  font-size: 18px;
  padding: 8px 16px;
  outline: none;
  border: 0;
  background-color: #0A67A3;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #3E97D1;
}

.button:active {
  background-color: #24587A;
}

.text {
  font-size: 18px;
}

.opened {
  display: block;
}

.closed {
  display: none;
}
